Body{
	background-image:url(fondo.jpg); ; ///Esto sirve para el color del fonde de la pantalla///
}

.Hamburgesa{
	background-color:white;

}
h1{
 font-size: 100px;
 font-family: monospace;
 text-align: center;
 height: 10px;
}

h2,{
	text-align: center;
	font-size: 26px;
}

h3{
	font-size: 26px;
	text-align: center;
	background-color: #e5cfa1;
	width: 50%;
	position: relative;
	right: -25%;
}
.parrafo{
box-sizing: border-box;
width:50%;
solid: #5B6DCD;
padding: 35px;
background-color: #000000 ;
color: white;
text-align: center;
position: relative;
right: -25%;
font-family: monospace;
}
#descuento{
	background-position: center;
	background-color: #d96465;
 border-style: dotted;
  width: 20%;
	font-size: 30px;
	font-family: inherit;
	position: relative;
	right: -80%;
}
td{
	border-radius: 6px;
	border: 2px solid white;
	font-family: monospace;
	color: white;
	text-align: justify;
	text-align: center;

}

table{
border-collapse: collapse;
color: white;
border:2px ;
background-color:#626567 ;
text-align: center;
width: 50%;
position: relative;
 right: -25%;
}

#p1{
	text-align: center;
	font-size: 30px;
	font-variant: small-caps;
	color: white;
}
.copy{
	text-align: center;
	font-family: monospace;
	font-size: 25px;
	color: white;
}

footer{
	background-color: #eedcba;
	position: static;
	display: inline-block;
	bottom: 0;
	width: 100%;
	height: 250px;
	color: #000000;
	text-align: center;
	font-size: 23px;
}
